<!DOCTYPE html>
<html>

<head>

    <title>Report Order</title>
    <style>
    .font-value{
        font-size: 12px;
    }
    .font-value-bold{
        font-size: 12px;
        font-weight: bold;
    }
    .font-detail-value{
        font-size: 9px;
    }
    .td-left-none{
        border-left-style: none;
    }

    </style>
</head>

<body>

  <h3>Report Order</h3>
  <h5>Order per tanggal {{ call_helpers('get_DateNow','d F Y H:i:s') }}</h5>
  <label class="font-value-bold"> Branch : {{ Branch }} ({{ Users.name }})</label>
  <table border="1" style="border-collapse:collapse;" cellpadding="3" cellspacing="3">
      <thead>
          <tr>
              <th align="center" width="10px;">No.</th>
              <th align="center" width="100px;">Code</th>
              <th align="center" width="150px;">Customer</th>
              <th align="center" width="120px;">Tanggal</th>
              <th align="center" width="100px;">Status</th>
              <th align="center" width="70px;">Payment</th>
              <th align="center" width="70px;">Tagihan</th>
              <th align="center" width="70px;">Sisa</th>
          </tr>
      </thead>
      <!--tbody section is required-->
      <tbody>
          {% if (ResultOrder) %}
          {% set i = 1 %}
          {% for item in ResultOrder %}
          <tr>
              <td class="font-value" align="right">{{ i }}.</td>
              <td class="font-value">{{ item.ref_number }}</td>
              <td class="font-value">{{ item.customer.name }}</td>
              <td class="font-value">{{ call_helpers_two('DateFormat', item.date_transaction ,"d/m/Y H:i:s" ) }}</td>
              <td class="font-value">{{ call_helpers('get_statusorder',item.status) }}</td>
              <td class="font-value" align="right">{{ call_helpers('set_numberformat',item.down_payment + item.full_payment) }}</td>
              <td class="font-value" align="right">{{ call_helpers('set_numberformat',item.total) }}</td>
              <td class="font-value" align="right">{{ call_helpers('set_numberformat',item.total - item.down_payment + item.full_payment) }}</td>
          </tr>
            {% set ResultOrderDetail = call_helpers('get_OrderDetailbyID',item.id) %}
            {% for detail in ResultOrderDetail %}
          <tr>
              <td>&nbsp;</td>
              <td colspan="5" class="font-detail-value">Treatment : {{ detail.treatment.name }}{% if detail.treatment_category_id %} {{ detail.treatmentcategory.name }}{% endif %} - {{ detail.treatmentpackage.name }}<br>Merk : {{ detail.merk_name }}</td>
              <td class="font-value" align="right">{{ call_helpers('set_numberformat',detail.total) }}</td>
              <td>&nbsp;</td>
          </tr>
            {% endfor %}
            {% set i = i + 1 %}
          {% endfor %}
          <tr>
              <td colspan="5" class="font-value" align="right">Total</td>
              <td class="font-value" align="right">{{ call_helpers('set_numberformat',SumPayment) }}</td>
              <td class="font-value" align="right">{{ call_helpers('set_numberformat',SumTotal) }}</td>
              <td>&nbsp;</td>
          </tr>
          {% endif %}
      </tbody>
  </table>

</body>

</html>
