{% extends "admin::layouts.layout" %}

{% block addcss %}
{{ asset('plugins/datatables/datatables.min.css')|css_tag }}
{{ asset('plugins/datatables/plugins/bootstrap/datatables.bootstrap.css')|css_tag }}

{{ asset('plugins/bootstrap-toastr/toastr.min.css')| css_tag }}

{% endblock %}


{% block pageheader %}
<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>{{ string_menuname }}
                <small>List {{ string_menuname }}</small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD-->

{% endblock %}


{% block breadcrumbs %}
<!-- BEGIN PAGE BREADCRUMBS -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="{{ url('/home') }}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="javascript:void(0)">Stock</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>{{ string_menuname }}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMBS -->
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
          <div class="portlet light">
              <div class="portlet-title">
                  <div class="caption">
                      <i class="fa fa-cog font-yellow-casablanca"></i>
                      <span class="caption-subject bold font-yellow-casablanca uppercase"> {{ string_active_menu }} {{ string_menuname }} </span>
                      <span class="caption-helper">List {{ string_menuname }} {{ config_get('app.name') }}</span>
                  </div>
                  <div class="inputs">
                      {% if call_helpers('bool_CheckAccessUser','stock-add') %}
                         <a type="button" class="btn btn-default btn-sm" href="{{ route('stock_add') }}" title="Form" data-toggle="tooltip"><i class="glyphicon glyphicon-plus"></i> Form</a>
                     {% endif %}
                 </div>
              </div>
              <div class="portlet-body">
                  {% if(session('scsMsg')) %}
                      <div class="alert alert-success">
                          <button class="close" data-close="alert"></button>
                          <span>{{ session('scsMsg') }}</span>
                      </div>
                  {% endif %}

                  {% if errors.any %}
                      {% for error in errors.all %}
                          <div class="alert alert-danger">
                              <button class="close" data-close="alert"></button>
                              <span>
                                  {{ error }}
                              </span>
                          </div>
                      {% endfor %}
                  {% endif %}

                        <table class="table table-hover table-light" id="tbl_stock">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Stock</th>
                                    <th>Harga</th>
                                    <th>Branch</th>
                                    <th>Tanggal Stock</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <!--tbody section is required-->
                            <tbody></tbody>
                        </table>
              </div>
          </div>
          <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}

{% block addmodal %}
    <!-- INACTIVE -->
    <div class="modal fade bs-modal-sm" id="ConfirmInactive" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Incative Confirmation!</h4>
                </div>
                <div class="modal-body">
                    Are you sure??
                    <input type="hidden" name="id" id="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="button" class="btn red btn-danger" data-dismiss="modal" id="btn-ActionInactive">Inactive!</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- INACTIVE -->

    <!-- UPDATE STOCK -->
    <div class="modal fade" id="ModalEditStock" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Tambah Stock!</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form">
                        <div class="form-body">

                            <!-- MODAL  -->
                              <div class="form-group">
                                  <label class="control-label col-md-3">Modal
                                  </label>
                                  <div class="col-md-6">
                                    <div class="input-icon right">
                                        <input type="text" class="form-control" readonly id="cost_of_good">
                                    </div>
                                    </div>
                              </div>
                              <!-- END MODAL  -->


                              <!-- HARGA JUAL  -->
                                <div class="form-group">
                                    <label class="control-label col-md-3">Harga Jual
                                    </label>
                                    <div class="col-md-6">
                                      <div class="input-icon right">
                                          <input type="text" class="form-control" readonly id="selling_price" >
                                      </div>
                                       </div>
                                </div>
                                <!-- END HARGA JUAL  -->

                            <!-- STOCK  -->
                              <div class="form-group" id="rowstock">
                                  <label class="control-label col-md-3">Stock
                                      <span class="required"> * </span>
                                  </label>
                                  <div class="col-md-6">
                                    <div class="input-icon right">
                                        <i class="fa "></i>
                                        <input type="text" class="form-control stock" id="stock_new" name="stock_new" placeholder="0" autocomplete="off">
                                    </div>
                                     </div>
                              </div>
                              <!-- END STOCK  -->




                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="btn-UpdateStock">Ubah</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- UPDATE STOCK -->



{% endblock %}

{% block addjs %}
{{ asset('plugins/datatables/datatables.min.js')|script_tag }}
{{ asset('plugins/datatables/plugins/bootstrap/datatables.bootstrap.js')|script_tag }}


{{ asset('plugins/bootstrap-toastr/toastr.min.js')|script_tag }}

<!-- INPUT-MASK BUNDLE-->
{{ asset('plugins/jquery-inputmask/jquery.inputmask.bundle.min.js')|script_tag }}

<!-- JS INPUT-MASK -->
{{ asset('js/input-mask/input-mask.js')|script_tag }}

<script>
var ROUTE_DATATABLE         = '{{ route('stock_datatables') }}';
var ROUTE_DATATABLE_LIST    = '{{ route('stocklist_datatables') }}';

function GetData(id){
    window.opener.getDataParet(id);
    window.close();
}

</script>
{{ asset('modules/stock/datatable.js')|script_tag }}
{{ asset('modules/stock/main.js')|script_tag }}
{% endblock %}
